#schedule-table2 td {
    text-align: center;
}

th, td {
    border: 1px solid black;
}

#schedule-table2 {
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
}

h5 {
    margin-top: 5px;
}