#schedule-table2 td {
    text-align: center;
}
th, td {
    border: 1px solid black;
}

#schedule-table2 {
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
    width: 1500px;
}

#student_delete_confirm_button {
    margin-left: 10%;
    padding-right: 50px;
}

h5 {
    margin-top: 6px;
}

.schedule-services {
    font-size: 12px;
}

ul.serviceappts {
    list-style-type: square;
}