.sidebar-nav {
    margin-top: 50px;
    padding: 0;
    list-style: none;
}

#schedule-table2 td {
    text-align: center;
}

#schedule-table2 {
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
}