.sidebar-nav {
    margin-top: 50px;
    padding: 0;
    list-style: none;
}

#schedule-table {
    width: 1000px;
}
#schedule-table tr {
    display: block; 
    float: left;
}

#schedule-table th {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

#schedule-table th, #schedule-table td {
    display: block;
    height: 100px;
}
#schedule-table th, #schedule-table td {
    border: 1px solid black;
}

#schedule-table2 th, #schedule-table2 td {
    border: 1px solid black; 
}

#schedule-table2 th {
    padding: 5px 20px 5px 20px;
}