{% extends "base_template.html" %}

{% block content %}
    <h1>{{schedule.title}}</h1>
    <p>{{schedule.start_date}} - {{schedule.end_date}}</p>
    <form action="{% url 'update-schedule' schedule.id %}">
        <input type="submit" value="Update schedule">
    </form>
    <form action="{% url 'delete-schedule' schedule.id %}">
        <input type="submit" value="Delete schedule">
    </form>
    <hr>

    <table id="schedule-table2">
        <tr>
            <th></th>
            <th>7:00 AM</th>
            <th>8:00 AM</th>
            <th>9:00 AM</th>
            <th>10:00 AM</th>
            <th>11:00 AM</th>
            <th>12:00 PM</th>
            <th>1:00 PM</th>
            <th>2:00 PM</th>
            <th>3:00 PM</th>
        </tr>
        {% for day, time_slots in appts.items %}
            <tr>
                <td>
                    {{day}}
                    <form action="{% url 'create-serviceinstance' schedule.id %}">
                        <input type="submit" value="Add service appt">
                    </form>
                </td>
                {% for services in time_slots.values %}
                    <td>
                        <ul>
                        {% for serviceinstance in services %}
                            <li><a href="{{serviceinstance.get_absolute_url}}">{{serviceinstance}}</a></li>
                        {% endfor %}
                        </ul>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% for student in student_list %}
        <h4><a href="{{ student.get_absolute_url }}">{{student}}</a></h4>
        {% if student.is_serviced %}
            <h5 class="text-success">Services: Satisfied</h5>
        {% else %}
            <h5 class="text-danger">Services: Not Satisfied</h5>
        {% endif %}
    {% endfor %}
{% endblock %}