{% extends "base_template.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>{{schedule.title}}</h1>
        <p>{{schedule.start_date}} - {{schedule.end_date}}</p>
        <hr class="my-4">
        <form action="{% url 'update-schedule' schedule.id %}">
            <button type="submit" class="btn btn-primary">Update schedule</button>
        </form>
        <br>
        <form action="{% url 'delete-schedule' schedule.id %}">
            <button type="submit" class="btn btn-primary">Delete schedule</button>
        </form>
    </div>
    <hr>

    <table class ="table table-hover" id="schedule-table2">
        <thead>
            <tr>
                <th width=5% scope="col"></th>
                <th width=10% scope="col">7:00 AM</th>
                <th width=10% scope="col">8:00 AM</th>
                <th width=10% scope="col">9:00 AM</th>
                <th width=10% scope="col">10:00 AM</th>
                <th width=10% scope="col">11:00 AM</th>
                <th width=10% scope="col">12:00 PM</th>
                <th width=10% scope="col">1:00 PM</th>
                <th width=10% scope="col">2:00 PM</th>
                <th width=10% scope="col">3:00 PM</th>
            </tr>
        </thead>
        <tbody>
        {% for day, time_slots in appts.items %}
            <tr>
                <th scope="row">
                    {{day}}
                    <form action="{% url 'create-serviceinstance' schedule.id %}">
                            <button type="submit" class="btn btn-primary">Add appt</button>
                    </form>
                </th>
                {% for services in time_slots.values %}
                    <td>
                        <ul class="serviceappts">
                        {% for serviceinstance in services %}
                            <li><a class="schedule-services" href="{{serviceinstance.get_absolute_url}}">{{serviceinstance|linebreaks}}</a></li>
                        {% endfor %}
                        </ul>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for student in student_list %}
        <h4><a href="{{ student.get_absolute_url }}">{{student}}</a></h4>
        {% if student.services.all|length == 0 %}
            <span class="badge badge-warning">No Services Added</span>
        {% elif student.is_serviced %}
            <span class="badge badge-success">Satisfied</span>
        {% else %}
            <span class="badge badge-danger">Not Satisfied</span>
        {% endif %}
    {% endfor %}
{% endblock %}