{% extends "base_template.html" %}

{% block content %}
    <h1>My Schedules: </h1>
    <form action="{% url 'create-schedule' %}">
        <button type="submit" class="btn btn-secondary">Add schedule</button>
    </form>
    <br>
    {% if schedule_list %}
    <div class="list-group">
        {% for schedule in schedule_list %}
            <a href="{{schedule.get_absolute_url}}" class="list-group-item list-group-item-action">{{schedule.title}}</a>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}