{% extends "base_template.html" %}

{% block content %}
    <h1>{{service}}</h1>
    <hr>
    <p>Scheduled services:</p>
    <ul>
        {% for serviceinstance in service.stud_serviceinstances.all %}
            <li>{{serviceinstance}}</li>
        {% endfor %}
    </ul>
    <form action="{% url 'update-service' service.id %}">
        <input type="submit" value="Update service"/>
    </form>
    <form action="{% url 'delete-service' service.id %}">
        <input type="submit" value="Delete service"/>
    </form>
{% endblock %}