{% extends "base_template.html" %}

{% block content %}
    <h1>My Students: </h1>
    <form action="{% url 'create-student'%}">
        <input type="submit" value="Add student"/>
    </form>
    <br>
    {% if student_list %}
        {% for student in student_list %}
            <h4><a href="{{ student.get_absolute_url }}">{{student}}</a></h4>
            {% if student.is_serviced %}
                <h5 class="text-success">Services: Satisfied</h5>
            {% else %}
                <h5 class="text-danger">Services: Not Satisfied</h5>
            {% endif %}
            <ol>
                {% for service in student.services.all %}
                    <li>
                        <a href="{{service.get_absolute_url}}">{{service}}</a>
                    </li>
                {% endfor %}
                {% if student.services.count < 4 %}
                    <form action="{% url 'create-service' student.id %}">
                        <input type="submit" value="Add service"/>
                    </form>
                {% endif %}
            </ol>
        {% endfor %}
    {% endif %}
{% endblock %}