{% extends "base_template.html" %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">My Students</h1>
        <hr class="my-4">
        <p>Total students: {{student_list|length}}</p>
        <form action="{% url 'create-student'%}">
            <button type="submit" class="btn btn-primary">Add student</button>
        </form>
    </div>

    <br>
    {% if student_list %}
        {% for student in student_list %}
            <h4><a href="{{ student.get_absolute_url }}">{{student}}</a></h4>
            {% if student.services.all|length == 0 %}
                <span class="badge badge-warning">No Services Added</span>
            {% elif student.is_serviced %}
                <span class="badge badge-success">Satisfied</span>
            {% else %}
                <span class="badge badge-danger">Not Satisfied</span>
            {% endif %}
            <ol>
                {% for service in student.services.all %}
                    <li>
                        <a href="{{service.get_absolute_url}}">{{service}}</a>
                    </li>
                {% endfor %}
                {% if student.services.count < 4 %}
                    <form action="{% url 'create-service' student.id %}">
                        <button type="submit" class="btn btn-secondary">Add service</button>
                    </form>
                {% endif %}
            </ol>
        {% endfor %}
    {% endif %}
{% endblock %}